.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.error {
  color: red;
}

.label {
  font-size: 14px;
  color: #fff;
  width: 100% !important;
  margin-left: 5px;
}

.wrapperRadio {
  position: relative;
}
.wrapperRadio > .label {
  padding-left: 20px;
}

.wrapperRadio > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 15px;
  width: 15px;
  z-index: 100;
}
.wrapperRadio > .inputRadio {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border: 1px solid #dc1b14;
}
.wrapperRadio:hover input ~ .inputRadio {
  background-color: #ccc;
}

.inputRadio:after {
  content: "";
  position: absolute;
  display: none;
}

.wrapperRadio input:checked ~ .inputRadio:after {
  display: block;
}

.wrapperRadio input:checked ~ .inputRadio {
  background-color: #dc1b14;
}

.wrapperRadio .inputRadio:after {
  left: 3px;
  top: 0px;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
