.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  outline: 0;
  border: 0;
  z-index: 2;
  background-color: white;
}

.dropdown {
  z-index: 2;
}

.inputWrapper {
  position: relative;
  background-color: white;
  width: 100%;
  border-top: 2px solid #dc1b14;
  border-bottom: 2px solid #dc1b14;
  border-right: 0;
  border-left: 0;
  outline: 0;
  text-align: center;
  color: #1d1d1b;
  font-size: 2rem;
  height: 3rem;
  font-family: sans-serif;
  z-index: 2;
}

.inputWrapper:before,
.inputWrapper:after {
  content: "";
  position: absolute;
  top: 4.5px;
  height: 15px;
  width: 15px;
  border: 2px solid #dc1b14;
  background-color: white;
  transform: scale(0.8, 1.25) rotate(45deg);
  z-index: 1;
}

.inputWrapper:before {
  left: -9px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
}

.inputWrapper:after {
  right: -9px;
  border-bottom: 0px solid transparent;
  border-left: 0px solid transparent;
}
